<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <app-recipes></app-recipes>
      <app-shopping-list></app-shopping-list>
    </div>
  </div>
</div>

<!-- <div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-2">Col one</div>
    <div class="col-sm-12 col-md-6 col-lg-8">Col two</div>
  </div>
  <div class="row">
    <div class="col-sm-6">Col one</div>
    <div class="col-sm-6">Col two</div>
  </div>
  <div class="row justify-content-center align-items-center" style="background-color:green;height:100px">
    <div class="col-sm-4 "><div class="p-3 border bg-light"> col one</div></div>
    <div class="col-sm-4 "><div class="p-3 border bg-light"> col two</div></div>
  </div>

</div>
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Launch demo modal
</button>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div> -->